/* This module is for styling Login,SignUp and ForgotPassword pages */
.card{
    display: flex;
    flex-direction: row;
}
.card img{
    width:60%;
    max-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    margin:1rem 1rem;
    width: 30%;
    padding:3rem 3rem;
}
hr{
    background-color: rgb(120, 68, 143);
    width: 4.5rem;
    margin: initial;
    height: 0.05rem;
    margin-top: -1rem;
}
.text{
    margin: 2rem 0;
    font-size: 12px;
    font-weight: 500;
}
.text span{
    color: grey;
    font-weight: 400;
    margin-bottom: 2rem;
}
input{
    margin-bottom:2rem ;
}
a{
    margin-top: 0.5rem;
    align-self: self-end;
    font-size: 13px;
}
button{
    height: 2rem;
    background-color:rgb(120, 68, 143) ;
    color: white;
    border-style: none;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}
.error{
    font-size: 10px;
    color: rgb(218, 113, 113);
    margin-top: -1rem;
    
}