.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5.1rem;
  background: var(--unnamed-color-ffffff);
}
.container img {
  top: 0.4rem;
  left: 1.6rem;
  width: 4.3rem;
  height: 4.3rem;
}
.user-container {
  left: 1655px;
  width: 265px;
  height: 83px;
  background: var(--unnamed-color-706fa7) 0% 0% no-repeat padding-box;
  opacity: 1;
  border-top-left-radius: 83px;
  border-bottom-left-radius: 83px;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.icon{
  position: relative;
    width: 22px;
height: 27px;
color: var(--unnamed-color-ffffff);
}
.icon>*{
  color: inherit;
}
.icon div{
  background: var(--unnamed-color-a9abd3) 0% 0% no-repeat padding-box;
  width: 60%;
  text-align: center;
  border-radius: 5px;
  position: absolute;
    top: -14px;
    right: -3px;
    height: 90%;
}
.icon span{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 17px/28px var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0-01);
color: var(--unnamed-color-ffffff);
}
.user-img{
  display: flex;
  flex-direction: row;
  gap:20px;
    margin: 7px 0;
    top: 7px;
height: 69px;
}
.user-img img {
    top: 7px;
    left: 1767px;
    width: 69px;
    height: 69px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
