.container {
  top: 166px;
  left: 89px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc(100% - 90px);
  background: #EEF0FE 
  
}
.container h2{
  margin: initial;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 45px/61px var(--unnamed-font-family-nunito);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-706fa7);
text-align: left;
}
.filter-container{
  position: absolute;
  top: -15px;
  right: 10px;
}
.info-card{
  display: flex;
  flex-direction: row;
  gap: 26px;
}
.buttons{
  display: flex;
  flex-direction: row;
  gap:22px;
}
