.container{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-top:6px;
    padding-bottom: 6px;
    box-sizing: border-box;
    width: inherit;
}
.expand-item{
    margin-left: 8px;
    padding-left: 27px;
    justify-content: flex-start !important;
}
.item .content{
    display: flex;
    justify-content: space-around;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-nunito);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6c7383);
    text-align: left;
    margin-left:15px;
}
.item .content svg{
    position: absolute;
    right: 25px;
}
.item{
   
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.content span{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-nunito);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-6c7383);
text-align: left;
}
/* Hover Effect */
.container:hover{
    background: var(--unnamed-color-706fa7);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.item:hover svg{
    color: var(--unnamed-color-ffffff)
}
.item:hover span{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-nunito);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
}

.list-container{
    display: flex;
    align-self: center;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-nunito);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
}
.list li{
    color:var(--unnamed-color-ffffff)
}
.active{
    background-color: var(--unnamed-color-706fa7);
    color: var(--unnamed-color-ffffff)
}